@import "./variables.scss";

.dashboard {
    @include flexbox(row);
    justify-content: space-evenly;
    width: fit-content;
    flex-wrap: wrap-reverse;
    margin: auto;
    .userdetail {
        @include component();
        @include flexbox(column);
        width: max-content;
        justify-content: center;
        align-items: center;
        p {
            margin: 0.5em;
            font-weight: 600;
        }
        img {
            border-radius: 100%;
            border: 3px solid #727272;
        }
    }
    .stockDashboard {
        @include flexbox(column);
        width: auto;
        .stockVal {
            @include flexbox(row);
            justify-content: space-between;
            div {
                @include component();
                width: 100%;
            }
            p {
                font-weight: 600;
            }
        }
        .stocks {
            @include flexbox(column);
            .stock {
                @include component();
                width: auto;
                margin: 1em;
            }
        }
    }
}
