@import "./variables.scss";

html,
body,
main {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
img {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: rgb(200, 200, 200);
        background: $dark-bg;
    }
}

footer {
    margin-top: 5em;
    padding-bottom: 2em;
    @include flexbox(column);
    // border-top: 1px solid #eaeaea;
    align-items: center;
    p {
        font-size: 1.5em;
    }
    div {
        @include flexbox(row);
        justify-content: center;
        width: fit-content;
        a {
            margin: 0em 1em;
        }
    }
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 1em;
    list-style: none;
    font-size: 20px;
}
nav ul li:hover {
    color: white;
    text-decoration: underline;
}
.err {
    color: red;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 5em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.graph {
    width: 60%;
}

.errorpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
    margin: 0;
    justify-content: center;
    h1 {
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type 0.5s alternate infinite;
    }
    button {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(92, 176, 245);
        padding: 15px 40px;
        border-radius: 20px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        border: 0px;
    }
    button:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 15px rgba(92, 155, 182, 0.4);
        cursor: pointer;
    }
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}
