.body {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1,
    p,
    a {
        margin: 0;
        padding: 0.25em;
        text-shadow: 0 0 15em #58a6f556;
        color: transparent;
        background: linear-gradient(75deg, #ffffff, #37b6ff, #243dfc, #003cff);
        background-position: 40% 50%;
        text-align: center;
        line-height: 1em;
        -webkit-background-clip: text;
    }
    button {
        cursor: pointer;
        border: 0;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        margin: 0 10px;
        width: 200px;
        padding: 10px 0;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
        transition: 0.3s;
        background-color: #2a4cfc;
        &:hover {
            color: white;
            box-shadow: 0 0 10px #338dfd;
            background-color: #3aacfe;
        }
    }
}
