@import "./variables.scss";

.searchSection {
    width: 100%;
    min-height: 75vh;
    position: relative;
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    p {
        font-size: 5em;
        padding: 0;
        margin-bottom: 0.5em;
        text-align: center;
    }
    .err {
        color: #ff2222;
        font-size: 2em;
    }
    .searchBarContainer {
        @include flexbox(column);
        width: auto;
        margin: auto;
        position: relative;
        margin: 0;
        .searchbar {
            padding: 1em 1em 1em 3em;
            width: 40em;
            border-radius: 2em;
            border: none;
            font-size: 18px;
            background-image: url("../public/loupe.png");
            background-size: 2em;
            background-position: 10px 10px;
            background-repeat: no-repeat;
        }
        .datalist {
            margin: 5px 0 0 0;
            padding: 0;
            width: 45em;
            max-height: 200px;
            top: 100%;
            left: 0;
            box-shadow: 0 0 3px #7862f1;
            list-style: none;
            border-radius: 10px;
            background: #2b2a33;
            overflow: hidden;
            overflow-y: auto;
            position: absolute;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            li {
                text-align: left;
                padding: 0.8em 1em 0.8em 1em;
                color: #999;
                cursor: pointer;
                &:hover {
                    background: #444346;
                    color: #fff;
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    @include Portal();
}
.stockcontainer {
    border: 1px solid white;
    margin-top: 3em;
    border-radius: 1em;
    width: 95%;
    box-shadow: 0 0 2px rgb(223, 213, 15);
    .predict {
        @include btn();
        display: block;
        margin: 1em auto;
        width: 7em;
        border-radius: 5px;
    }
}

.stockData {
    @include flexbox(row);
    justify-content: center;
    @media  only screen and (max-width: 1500px) {
        flex-wrap: wrap;
    }
    width: fit-content;
    margin: 2em auto;
    .stockheader {
        @include flexbox(column);
        width: fit-content;
        justify-content: space-around;
        h2 {
            margin: 0.5em 1em;
            font-size: xx-large;
            button {
                @include btn();
                background-color: rgb(14, 216, 14);
                border-radius: 5px;
                font-size: 0.55em;
                vertical-align: middle;
                margin-left: 1em;
                &:hover {
                    background-color: rgb(14, 244, 14);
                }
            }
        }
        div {
            @include component();
            @include tables();
        }
    }
    .stockbody {
        @include component();
        @include tables();
        width: fit-content;
    }
}
