// $dark-bg: linear-gradient(to right, #41295a, #2f0743);
$dark-bg: #0f172a;
$light-bg: linear-gradient(to right, #cfdef3, #e0eafc);
$my-bg: linear-gradient(to right, #060141, #611c10);
$dark-fg: #161b22;
$light-fg: #f0f8ff;
$dark-txt: #d6d6d6;
$anchor-txt: #28bdf8;
